*.crf
*.d
*.o
*.iex
*.axf
*.htm
*.lnp
*.sct
*.dep
*.FTM
*.map
*.lst
FPGA/1.1 LED flashing/Project/LED flashing/td_2023-10-06_15-48-58.log
FPGA/1.1 LED flashing/Project/LED flashing/td_2023-10-08_12-39-01.log
*.lastbuildstate
*.tlog
*.txt
*.pdb
*.log
*.sln
*.vcxproj
*.filters
*.user
*.vsidx
*.lock
*.suo
*.db
*.ipch
*.obj
*.idb
*.exe
*.recipe
*.ilk
FPGA/1.1 LED flashing/Project/LED flashing/.LED flashing.al.bak
FPGA/1.2 Flowing water lamp/Project/Flowing water lamp/Flowing water lamp.al
C语言/C primer plus/C primer plus topic/.vs/C primer plus topic/v17/Browse.VC.opendb
C语言/C primer plus/C primer plus topic/.vs/C primer plus topic/v17/Browse.VC.db-wal
C语言/C primer plus/C primer plus topic/.vs/C primer plus topic/v17/Browse.VC.db-shm
